/* custom.scss */

/* import the necessary Bootstrap files */
@import "bootstrap/functions";
@import "bootstrap/variables";


/* make changes to the !default Bootstrap variables */

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
    xxxl: 1920px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px,
  xxxl: 1920px,
);

$spacers: map-merge(
  (
    6: ($spacer * 4.5),
    7: ($spacer * 6)
  ),
  $spacers
);

$body-bg: green ;

// Fonts

$display1-size:               4rem;
$display2-size:               3.5rem;
$display3-size:               2.5rem;
$display4-size:               1rem;

.form-group {
  margin-bottom: 0 !important;
}

$grid-gutter-width:           32px;

/* finally, import Bootstrap to set the changes! */
@import "bootstrap/bootstrap";
