/* custom.scss */

/* import the necessary Bootstrap files */
@import "bootstrap/functions";
@import "bootstrap/variables";


/* make changes to the !default Bootstrap variables */

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
    xxxl: 1920px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px,
  xxxl: 1920px,
);

$spacers: map-merge(
  (
    6: ($spacer * 4.5),
    7: ($spacer * 6)
  ),
  $spacers
);

// Fonts

$font-family-sans-serif:      "League Spartan", Verdana, Tahoma;
$font-family-monospace:       "League Mono", Verdana, Tahoma;
$font-family-base:            $font-family-sans-serif;

$display1-size:               4rem;
$display2-size:               3.5rem;
$display3-size:               2rem;
$display4-size:               1rem;

.form-group {
  margin-bottom: 0 !important;
  .header{
    .subtitle{
      line-height: 2rem;
    }
  }
  .send{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

$grid-gutter-width: 32px;

/* finally, import Bootstrap to set the changes! */
@import "bootstrap/bootstrap";
