
.form{
    font-family: "League Mono", Verdana, Tahoma;
}
.title{
    font-family: "League Spartan", Verdana, Tahoma;
    letter-spacing: 5px;
}
.subtitle{
    font-family: 'Libre Baskerville', serif;
}
.message, .contact, .name, .footer, header, textarea  {
    padding:0;
    margin:0;
}

.first{
    width: 50%;
    margin: 0;
    padding: 0 0 0 20px;
    height: 50px;
    border: 1px solid rgba(0,0,0,.1);
    border-right: none;
}
.last{
    @extend .first;
    border: 1px solid rgba(0,0,0,.1);
}

.email {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 20px;
    border: 1px solid rgba(0,0,0,.1);
    border-top: 0;
}      
.message textarea{
    @extend .email;
    height: 200px;
}
.send{
    button {
        @extend .title;
        width:100%;
        height: 48px;
        background: rgb(127, 172, 170);
        border: 0;
        color: rgba(255,255,255,1);
        transition: all linear .2s;
        
        &:hover {
            background: rgb(86, 138, 135);  
        }
        
        &:focus {
            outline: none; 
        }
    }
}


.first:focus, .last:focus, .email:focus, textarea:focus {
    outline: none;
    background: rgba(127, 172, 170,.1);
    color: rgba(51,51,51,.7);
}
