
/* import the necessary Bootstrap files */
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$offset: 104px;


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, $offset auto);
    grid-gap: 32px;
}
.bigBox1{
    grid-column: 1;
    grid-row: 1/ span 2;
    position: relative;
}
.bigBox2{
    grid-column: 2;
    grid-row: auto / span 2;
    position: relative;
}
%containerBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,auto);
    grid-auto-flow: row;
    grid-gap: 32px;
}
.containerBox1{
    @extend %containerBox;
    grid-column: 2;
    grid-row: 2 / span 2;
}
.containerBox2{
    @extend %containerBox;
    grid-column: 1;
    grid-row: auto / span 2;
}
.containerBox3{
    @extend %containerBox;
    grid-column: 1;
    grid-row: auto / span 2;
}
.containerBox4{
    @extend %containerBox;
    grid-column: 2;
    grid-row: auto / span 2;
}

.grid-number{
    color: green;
    font-weight: bold;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
}

@include media-breakpoint-down(sm) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: none;
        grid-auto-rows: auto;
    }
    .bigBox1{
        grid-column: 1;
        grid-row: auto;
        position: relative;
    }
    .bigBox2{
        grid-column: 1;
        grid-row: auto;
        position: relative;
    }
    .containerBox1{
        grid-column: 1;
        grid-row: auto;
    }
    .containerBox2{
        grid-column: 1;
        grid-row: auto;
    }


    .grid-number{
        color: white;
    }
}