

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$league_spartan: "League Spartan", Verdana, Tahoma;
$league_mono: "League Mono", Verdana, Tahoma;
$libre: 'Libre Baskerville', serif;

body.index{
    background-image: url("../img/yellow_bg.svg");
    background-color: #ffffff;
    background-position: center top; 
    background-repeat: no-repeat;
}

.portfolio_section{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.portfolio_spacing_sm{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

// Hero

.title-caption{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);

    font-family: $league_spartan;
    letter-spacing: .25em;
    line-height: 1.4em;
}

// Intro card

.card-title{
    font-family: $league_spartan;
    letter-spacing: 5px;
}

.card_intro{
    p{
        margin: 0
    }
    .card-body{
        font-family: $league_mono;
        font-size: 1.2em;
        padding-bottom: 0,
    }
}

.elevation-8 {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.squiggly{
    background-image: url("../img/squiggly_line.png");
    background-repeat: repeat-x;
    background-size: 40px 13px;
    height: 13px;
}

// Gallery

.case_study_title_box{
    position: absolute; 
    top: 1rem;
    left: 1.5rem;
    color: white; 
    .subtitle{
        line-height: 3rem;
    }
    .title{
        line-height: 2rem;
    }
}
.case_study_btn_box{
    position: absolute; 
    bottom: 1.5rem;
    left: 1.5rem;
    color: white;
    outline: .1em solid white; 
    line-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: $league_mono;
}

.scaleAnimation {
    position: relative;
    overflow: hidden;
  }

.scaleAnimation img {
    right: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

.scaleAnimation:hover img,
.scaleAnimation.hover img {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.grid-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

// One Zensation case study

.cs_title{
    font-family: $league_spartan;
    letter-spacing: .15em;
    line-height: 1.4em;
}

.cs_summary{
    font-family: $libre !important;
    line-height: 1.4em;
    color: #9dbebd;
}

.cs_deets_a{
    letter-spacing: .15em;
    font-size: 1em;
}

.cs_deets_b{
    font-family: $league_mono;
    font-size: 1em;
    color: rgba(0, 0, 0, .56)
}

.cs_captions{
    font-family: $league_mono;
    font-size: .8em;
    color: rgba(0, 0, 0, .56)
}









