//@import "compass/css3";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";


body {
  .hero {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom:  0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
    &:before {
      content: '';
      height: 100%;
      width: 100%;
      height: 100vh;
      width: 100vw;
      position: absolute;
    }
  }
  @media (min-width: 576px){
    .hero {
      position: fixed;
      z-index: 1;
      top: 0;
      bottom:  0;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
      height: 170vh;
      width: 100vw;
      
      &:before {
        content: '';
        height: 100%;
        width: 100%;
        height: 170vh;
        width: 100vw;
        position: absolute;
      }
    } 
  }
  
  .content {
    position: absolute;
    z-index: 1000;
    top: 30vh;
    background: white;
    height: 300vh;
    width: 100%;
    box-shadow: 0 -2px 1px rgba(0,0,0,.15);
    border-top: 1px solid rgba(255,255,255,.2);
  }
  @media (min-width: 576px){
    .content {
      top: 40vh;
    }
  }
  @media (min-width: 768px){
    .content {
      top: 50vh;
    }
  }
  @media (min-width: 1200px){
    .content {
      top: 60vh;
    }
  }
}

.hero.onezen{
  background: url("../img/case_studies/hero_one_zensation_3000x2000.jpg");
  background-size: 100vw auto;
}

.hero.netherlands{
  background: url("../img/case_studies/hero_netherlands_3000x2000.jpg");
  background-size: 100vw auto;
}

@include media-breakpoint-down(sm) {
  .hero.onezen{
    background: url("../img/case_studies/hero_one_zenation_1152x768.jpg");
    background-size: 100vw auto;
  }

  .hero.netherlands{
    background: url("../img/case_studies/hero_netherlands_1152x768.jpg");
    background-size: 100vw auto;
  }
}